<section class="flex-column table">
  <!-- MARK: Headers
  -->
  <div class="flex-row align-cross-center header gap-0-5-rem">
    <span class="cell id" [matTooltip]="'ID'">ID</span>
    <span class="cell language" [matTooltip]="'Langage'">Langage</span>
    <span class="cell country" [matTooltip]="'Pays'">Pays</span>
    <span class="cell province" [matTooltip]="'Province'">Province</span>
    <span class="cell region" [matTooltip]="'Région'">Région</span>
    <span class="cell sub-region" [matTooltip]="'Sous-région'"
      >Sous-région</span
    >
    <span class="cell city" [matTooltip]="'Ville'">Ville</span>
    <span class="cell creation-timestamp" [matTooltip]="'Date de création'"
      >Date de création</span
    >
    <span
      class="cell product-categories"
      [matTooltip]="'Catégories de produits'">
      [Vendeurs] Catégories de produits</span
    >
    <span class="cell category" [matTooltip]="'Catégorie'"
      >[Acheteurs] Catégorie</span
    >
    <span class="cell is-pro" [matTooltip]="'A un compte'">A un compte</span>
  </div>

  <!-- MARK: Rows
  -->
  @for (organization of organizations; track organization.id) {
    <mat-divider />
    @defer (on viewport; prefetch on idle) {
      <div class="flex-row align-cross-center gap-0-5-rem">
        <span class="cell id" [matTooltip]="organization.id">{{
          organization.id
        }}</span>
        <span class="cell language" [matTooltip]="organization.language">{{
          organization.language
        }}</span>
        <span class="cell country" [matTooltip]="organization.country">{{
          organization.country
        }}</span>

        <span class="cell province" [matTooltip]="organization.province">{{
          organization.province
        }}</span>
        <span class="cell region" [matTooltip]="organization.region">{{
          organization.region
        }}</span>
        <span class="cell sub-region" [matTooltip]="organization.subRegion">{{
          organization.subRegion
        }}</span>
        <span class="cell city" [matTooltip]="organization.city">{{
          organization.city
        }}</span>
        <span
          class="cell creation-timestamp"
          [matTooltip]="organization.creationTimestamp.toLocaleDateString()"
          >{{ organization.creationTimestamp.toLocaleDateString() }}</span
        >

        @let vendorOrganization = getVendorOrganization(organization);
        @let vendorProductCategories =
          vendorOrganization !== null
            ? getVendorProductCategories(vendorOrganization)
            : '-';
        <span
          class="cell product-categories"
          [matTooltip]="vendorProductCategories">
          {{ vendorProductCategories }}
        </span>

        @let buyerOrganization = getBuyerOrganization(organization);
        @let buyerOrganizationCategory =
          buyerOrganization !== null
            ? getBuyerOrganizationCategory(buyerOrganization)
            : '-';
        <span class="cell category" [matTooltip]="buyerOrganizationCategory"
          >{{ buyerOrganizationCategory }}
        </span>

        @let isPro =
          buyerOrganization !== null && buyerOrganization.isPro ? 'Oui' : 'Non';
        <span class="cell is-pro" [matTooltip]="isPro">{{ isPro }} </span>
      </div>
    } @placeholder {
      <div class="cell"></div>
    }
  }
</section>
