<h2>Organisations</h2>

<!-- TODO Filters -->

<section class="flex-column table">
  <!-- MARK: Headers
  -->
  <div class="flex-row align-cross-center header gap-0-5-rem">
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'id',
        text: 'ID',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'language',
        text: 'Langage',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'country',
        text: 'Pays',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'province',
        text: 'Province',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'region',
        text: 'Région',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'sub-region',
        text: 'Sous-région',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'city',
        text: 'Ville',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'creation-timestamp',
        text: 'Date de création',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'product-categories',
        text: '[Vendeurs] Catégories de produits',
        canSort: false,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'buyer-organization-category',
        text: '[Acheteurs] Catégorie',
        canSort: true,
      }"></ng-container>
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{
        column: 'is-pro',
        text: 'A un compte',
        canSort: true,
      }"></ng-container>
  </div>

  <!-- MARK: Rows
  -->
  @for (organization of sortedOrganizationsSignal(); track organization.id) {
    <mat-divider />
    @defer (on viewport; prefetch on idle) {
      <div class="flex-row align-cross-center gap-0-5-rem">
        <span class="cell id" [matTooltip]="organization.id">{{
          organization.id
        }}</span>
        <span class="cell language" [matTooltip]="organization.language">{{
          organization.language
        }}</span>
        <span class="cell country" [matTooltip]="organization.country">{{
          organization.country
        }}</span>

        <span class="cell province" [matTooltip]="organization.province">{{
          organization.province
        }}</span>
        <span class="cell region" [matTooltip]="organization.region">{{
          organization.region
        }}</span>
        <span class="cell sub-region" [matTooltip]="organization.subRegion">{{
          organization.subRegion
        }}</span>
        <span class="cell city" [matTooltip]="organization.city">{{
          organization.city
        }}</span>
        <span
          class="cell creation-timestamp"
          [matTooltip]="organization.creationTimestamp.toLocaleDateString()"
          >{{ organization.creationTimestamp.toLocaleDateString() }}</span
        >

        @let vendorOrganization = getVendorOrganization(organization);
        @let vendorProductCategories =
          vendorOrganization !== null
            ? getVendorProductCategories(vendorOrganization)
            : '-';
        <span
          class="cell product-categories"
          [matTooltip]="vendorProductCategories">
          {{ vendorProductCategories }}
        </span>

        @let buyerOrganization = getBuyerOrganization(organization);
        @let buyerOrganizationCategory =
          buyerOrganization !== null
            ? getBuyerOrganizationCategory(buyerOrganization)
            : '-';
        <span
          class="cell buyer-organization-category"
          [matTooltip]="buyerOrganizationCategory"
          >{{ buyerOrganizationCategory }}
        </span>

        @let isPro =
          buyerOrganization !== null && buyerOrganization.isPro ? 'Oui' : 'Non';
        <span class="cell is-pro" [matTooltip]="isPro">{{ isPro }} </span>
      </div>
    } @placeholder {
      <div class="cell"></div>
    }
  }
</section>

<!-- Header template
-->
<ng-template #header let-column="column" let-text="text" let-canSort="canSort">
  @if (canSort) {
    @let sortColumn = cssClassToSortColumn(column);
    @let currentSort = sortSignal();
    <span
      class="cell interactive {{ column }}"
      tabindex="0"
      [matTooltip]="text"
      (click)="canSort ? sort(sortColumn) : null"
      (keydown)="canSort ? sort(sortColumn) : null">
      <span>{{ text }}</span>

      @if (currentSort === null || currentSort.column !== sortColumn) {
        <mat-icon class="hidden">arrow_upward</mat-icon>
      } @else if (currentSort.direction === 'asc') {
        <mat-icon>arrow_upward</mat-icon>
      } @else {
        <mat-icon>arrow_downward</mat-icon>
      }
    </span>
  } @else {
    <span class="cell {{ column }}" [matTooltip]="text">{{ text }}</span>
  }
</ng-template>
