<app-toolbar></app-toolbar>
<!doctype html>
<meta charset="utf-8" />

<div class="header">
  <h2>
    Flux de marchandises au Québec
  </h2>
  <p>
    Ce graphique permet de visualiser différents types de flux entre les régions et sous-régions du Québec.
  </p>
</div>

<div id="container-visualization">
  <span id="settings">
  </span>

  <span id="visualization"></span>

  <span id="dynamic-legend">
    <div id="visible-box">
      <mat-form-field>
        <mat-label>Explorer une région</mat-label>
        <mat-select (selectionChange)="toggle_expanded_region($event)">
          <mat-option  [value]="null">aucune</mat-option>
          <mat-option *ngFor="let region of v3ps.regions" [value]="region">{{region}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Type de données</mat-label>
        <mat-select [value]="v3ps.data_type" (selectionChange)="change_shown_data($event)">
          <mat-option *ngFor="let dt of data_type_dict" [value]="dt[0]">{{dt[1]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </span>

</div>
