#diagramme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
}

.vertical-toggle-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* optional: align text */
  width: 250px;
}

.vertical-toggle-group > * {
  width: 100%;
}

#data-type-toggle {
  display: none;
}

#subregion-toggle {
  display: none;
}

#radio-group {
  display: flex;
  justify-content: row;
  align-items: center;
}
