@use '../../styles/flex.styles.scss';

.content {
  padding: 0 2rem;
  max-width: calc(960px - 4rem);
  width: 100%;
}

p,
ul {
  font-size: 1.2rem;
}

.anchor-link {
  text-decoration: none;
  color: black;

  h1,
  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    > mat-icon {
      opacity: 0.4;
      font-size: inherit;
      width: 1em;
      height: 1em;
    }
  }
}
