@import '../../styles/flex.styles.scss';

.logo-container {
  width: 400px;
  height: 150px;
  overflow: hidden;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-block-end: 2rem;
  max-width: 25rem;
  text-align: center;
}

:host,
main {
  height: 100%;
}

main {
  gap: 20rem;
}

.x {
  font-size: 3rem;
  font-weight: bold;
}

.class-name {
  font-size: 5rem;
  font-weight: bold;
}
