<app-toolbar></app-toolbar>
<div class="visualization-container">
  <div class="header">
    <h2>
      Analyse des catégories d'acheteurs qui commandent et qui dépensent le plus
    </h2>
    <p>
      Cette visualisation interactive permet d'explorer les catégories
      d'acheteurs qui commandent et dépensent le plus. En survolant les barres,
      vous pouvez afficher des détails supplémentaires sur le nombre de
      commandes ou le montant dépensé.
    </p>
  </div>
  <div class="chart-container"></div>
  <div class="tooltip"></div>
</div>
