<app-toolbar></app-toolbar>
<div class="visualization-container">
  <div class="header">
    <h2>Catégories de produits et leurs ventes par type d'acheteur</h2>
    <p>
      La visualisation permet d’identifier quelles catégories de produits
      génèrent le plus de revenus en dollars canadiens, tout en montrant les
      préférences des différentes catégories d’acheteurs (ex. restaurants,
      épiceries, institutions, etc.).
      </p>
      <p>
      Grâce à un histogramme horizontal empilé,
      on visualise à la fois la performance financière de chaque type de produit
      et la répartition des ventes par type d’acheteur. Cette approche aide à
      comprendre quels acheteurs contribuent le plus à la vente de chaque
      produit et quels produits attirent quels segments de clientèle.
    </p>
  </div>
  <svg id="chart"></svg>
</div>
