<app-toolbar />

<main>
  <h1>Utilisateurs</h1>

  <p>
    Cette page a pour objectif d'analyser l'évolution des utilisateurs de la
    plateforme Arrivage et les interactions entre ces derniers. Pour se faire,
    nous avons développé deux visualisation interactive que vous pouvez explorer
    ci-dessous.
  </p>

  <h2>Évolution des utilisateurs</h2>

  <p>
    Ce graphique a pour but de visualiser l'évolution des utilisateurs au fil du
    temps. Trois courbes différentes permettent de montrer l'évolution du nombre
    d'acheteurs, de vendeurs et de l'ensemble des utilisateurs.
  </p>

  <p>
    Deux modes d'affichage sont disponibles: empilé et continu. Le mode continu
    permet de visualiser l'évolution depuis le lancement de l'application
    jusqu'à aujourd'hui. Le mode empilé permet de comparer l'évolution de chaque
    année.
  </p>

  <p>
    Enfin, deux modes de calcul sont disponibles: cumulatif et absolu. Le mode
    absolu se concentre sur le nombre de nouveaux utilisateurs chaque mois,
    tandis que le mode cumulatif montre l'évolution totale des utilisateurs au
    fil du temps.
  </p>

  <app-visualization-6-chart class="flex-row align-main-center" />
</main>
