<app-toolbar></app-toolbar>

<div class="visualization-page-container">
  <div class="header">
    <h2>Relations vendeurs-acheteurs</h2>
    <p>
      Cette visualisation interactive permet d'explorer les relations entre les
      vendeurs et les acheteurs en fonction du nombre de commandes. Vous pouvez
      basculer entre deux modes de visualisation : voir les acheteurs qui
      commandent le plus à un vendeur sélectionné, ou voir les vendeurs qui
      vendent le plus à un acheteur sélectionné.
    </p>
  </div>

  <div class="visualization-section">
    <app-order-visualization-chart></app-order-visualization-chart>
  </div>
</div>
