<mat-toolbar class="flex-row gap-0-5-rem">
  <button mat-button (click)="navigateToHome()">
    <mat-icon>home</mat-icon>
    <span>Page principale</span>
  </button>

  <button mat-button disabled>
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 1</span>
  </button>

  <button mat-button disabled>
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 2</span>
  </button>

  <button mat-button disabled>
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 3</span>
  </button>

  <button mat-button disabled>
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 4</span>
  </button>

  <button mat-button (click)="navigateToRawData()">
    <mat-icon>list</mat-icon>
    <span>Données brut</span>
  </button>
</mat-toolbar>
