<mat-toolbar class="flex-row gap-0-5-rem">
  <button mat-button (click)="navigateToHome()">
    <mat-icon>home</mat-icon>
    <span>Page principale</span>
  </button>

  <button mat-button (click)="navigateToVisualization(1)">
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 1</span>
  </button>

  <button mat-button (click)="navigateToVisualization(2)">
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 2</span>
  </button>

  <button mat-button (click)="navigateToVisualization(3)">
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 3</span>
  </button>

  <button mat-button (click)="navigateToVisualization(4)">
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 4</span>
  </button>

  <button mat-button (click)="navigateToVisualization(5)">
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 5</span>
  </button>

  <button mat-button (click)="navigateToVisualization(6)">
    <mat-icon>bar_chart</mat-icon>
    <span>Visualisation 6</span>
  </button>

  <button mat-button (click)="navigateToRawData()">
    <mat-icon>list</mat-icon>
    <span>Données brutes</span>
  </button>
</mat-toolbar>
